/admin/*
/frontend
/default-files
/uploads
/vendor
/fontawesome-free-7.0.1-web
!public/
!public/admin/
!public/admin/assets/
!public/admin/assets/dist/
!public/admin/assets/dist/css/
!public/admin/assets/dist/css/style.css
