.ti {
    font-size: 20px !important;
}


@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100%;
    }
}


input, textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #e3e4e5;
    font-weight: 400;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}


.add_course_basic_info_input {
    margin-bottom: 10px;
}


.add_course_basic_info_input label {
    margin-bottom: 5px;
}


.accordion-header .add_course_content_action_btn {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;
    position: absolute;
    margin-top: 7px;
    right: 15px;
    z-index: 9;
}


.add_course_content_action_btn .dropdown-toggle {
    white-space: nowrap;
    background: var(--colorPrimary) !important;
    order: none;
    padding: 9px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.dropdown-toggle:after {
    content: "";
    display: inline-block;
    vertical-align: .306em;
    width: .36em;
    height: .36em;
    border-bottom: 1px var(--tblr-border-style);
    border-left: 1px var(--tblr-border-style);
    margin-bottom: 0.25em;
    margin-right: .1em;
    margin-left: .4em;
    transform: rotate(-45deg);
}

 /* z instruktora */
/* .add_course_content_action_btn {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;
    position: absolute;
    top: 6px;
    right: 15px;
    z-index: 9;
} */


.add_course_content .accordion-header {
    position: relative;
}


/* .add_course_content .accordion-item button::before {
    position: absolute;
    content: "\f03d";
    font-family: "font awesome 5 free";
    font-size: 18px;
    font-weight: bold;
    color: black;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--colorPrimary);
    color: var(--colorWhite);
    margin-top: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */


.add_course_content .accordion-item button::before {
    position: absolute;
    content: "\f07c";
    font-family: "font awesome 5 free";
    font-size: 16px;
    font-weight: 600;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--colorPrimary);
    color: var(--colorWhite);
    top: 7px;
    left: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.item_list li {
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    padding: 13px 50px 13px 55px;
    position: relative;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.item_list li span {
    font-size: 16px;
    font-weight: bold;
    color: black;
}


.item_list li::before {
    position: absolute;
    content: "\f03d";
    font-family: "font awesome 5 free";
    font-size: 18px;
    font-weight: bold;
    color: black;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--colorPrimary);
    color: var(--colorWhite);
    top: 7px;
    left: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}






