textarea.form-control {
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    resize: vertical;
}


textarea.form-control.gateway__description {
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    resize: vertical;
    user-select: none;
}

/* vybírá buňky v posledním řádku a odebere okraj (spodní zobrazoval dvojitě) */
tr:nth-last-child(1) td {
    border-style: none !important;
}
